# venv
venv/
.venv/

# compiling
__pycache__/
*.pyc
*.pyo
*.pyd

# Builds and distributions
build/
dist/
*.egg-info/

# IDEs condig
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# enviroment files
.env
